<h2>people</h2>

<ul class="people">
{{#each person in controller}}
  <li {{bind-attr class="person.isDriver:driver"}}>
    <a href="#" class="remove" {{action "remove"}}>&times;</a>
    {{person.name}}
  </li>
{{/each}}
</ul>

<button type="button" class="pure-button button-small" {{action "shuffle"}} {{bind-attr disabled="controllers.index.running"}}>Shuffle</button>

<form class="pure-form" {{action "addPerson" on="submit"}}>
  {{input type="text" value=name placeholder="Name"}}
  {{input type="submit" value="Add" class="pure-button"}}
</form>
