<h2>people</h2>

<ul class="people">
{{#each}}
  <li {{bind-attr class="isDriver:driver"}}>
    <a href="#" class="remove" {{action "remove"}}>&times;</a>
    {{name}}
  </li>
{{/each}}
</ul>

<button type="button" class="pure-button button-small" {{action "shuffle"}}>Shuffle</button>

<form class="pure-form" {{action "addPerson" on="submit"}}>
  {{input type="text" value=name placeholder="Name"}}
  {{input type="submit" value="Add" class="pure-button"}}
</form>
