<h2>people</h2>

<ul class="people">
{{#each}}
  <li {{bindAttr class="isDriver:driver"}}>{{name}}</li>
{{/each}}
</ul>

<button type="button" {{action "shuffle"}}>Shuffle</button>

<form {{action "addPerson" on="submit"}}>
  {{input type="text" value=name placeholder="Name"}}
  {{input type="submit" value="Add"}}
</form>
